* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI';
}


.friend-card {
    position:relative;
    list-style: none;
    color: darkblue;
    margin: 1%;
    padding: 1%;
    font-size: larger;
    width: fit-content();
    height: 70px;
    cursor: pointer;
}

.friend-card:hover{
    background-color:deepskyblue;
}




#user-search-list {
    position:absolute;
}

#friends-list {
    position:sticky;
    top:0;
}

#friends-list:first-of-type h3 {
    color:darkblue;
}

#friends-list i {
    position: absolute;
    right: 5px;
    top: 20px;
}


#userSearch {
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 0.8rem;
    
}

*:hover {
    outline: none;
}

#friends-pane {
    min-width:10vw;
    max-width:30vw;
    background: linear-gradient(to right, #ccffff 0%, #ffffff 100%);
    border: 1px solid;
    margin-right:1rem;
    padding:1rem;
}

#chat-pane {
    min-width: 55vw;
    max-width: 75vw;
    position: relative;
    /*padding: 1rem;*/
    width: 100%;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 1px solid;
    overflow-y: scroll;
    padding-bottom: 3.4rem;
    border-bottom: 1vh #ccc;
}

.chat-header {
    position:sticky;
    top:0;
    left:0;
    z-index:100;
    margin-bottom:1rem;
    padding:0.5rem;
    width:100%;
    background-color:dimgrey;
    color:aliceblue;
    font-size:xx-large;
    text-transform:uppercase;
}

.sendAreaDiv {
    
    position: fixed;
    z-index: 111;
    height: 3.4rem;
    bottom: 30px;
    left: 35vw;
    width: 53%;
    display: inline;
}

.sent-msg {
    padding:0.33rem;
    margin-right:0.5rem;
    margin-left:auto;
    margin-bottom:0.33rem;
    width:40%;
    font-size:larger;
    height:max-content;
}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    top:0;
    left: 0;
    position: absolute;
}

.status-online {
    background-color: lawngreen;
}

.recv-msg {
    margin-left: 0.5rem;
    margin-bottom: 0.33rem;
    padding: 0.33rem;
    height: max-content;
    width: 40%;
    font-size: larger;
}

.messageInput {
    height: 100%;
    width: 95%;
    border: none;
    overflow: auto;
    outline: none;
    padding: 0.66rem;
}



.sendButton {
    color:darkblue;
    cursor:pointer;
    font-size: 2rem;
    padding-top:10px;
    height: 100%;
    width: 100%;
    border: none;
}